version: "3.8"
services:
  rails:
    build:
      context: ./
      dockerfile: dockerfile
    container_name: rails
    volumes:
      - ./:/rails
    ports:
      - "3000:3000"
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails server -p 3000 -b '0.0.0.0'"
    stdin_open: true
    tty: true
